<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<link rel="stylesheet" href="/static/CSS/footer.css">
  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About</h6>
          <p class="text-justify"><i>TO DO NINJA</i> is a powerful to-do list website that helps you stay organized and productive. With To-Do Ninja, you can create tasks, set due dates, add notes, and prioritize your work. To-Do Ninja also offers a variety of features to help you stay on track, including reminders, notifications, and a progress bar.</p>
        </div>
        <HR>
        <div class="col-xs-6 col-md-3">
          <h6>Categories</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">Specificity</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">Prioritization</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">Deadlines</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Remainders</a></li>
            <li><a href="http://scanfcode.com/category/android/">Flexibility</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Break Down large tasks</a></li>
          </ul>
        </div>
        <HR>
       
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Made By Sanidhy Saxena
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <a href="#" class="fa fa-linkedin"></a>
            <a href="#" class="fa fa-pinterest"></a>
            <a href="#" class="fa fa-reddit"></a>
          </ul>
        </div>
      </div>
    </div>
</footer>