<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hover Card</title>
    <link rel="stylesheet" href="static/CSS/hover.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="center">
      <figure class="card card-with-hover">
        <img
          src="static/img/img1 (4).jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Specificity</h2>
            <div class="card-text-wrapper">
              <p>Your to-do list items should be as specific as possible. This will help you stay on track and avoid procrastination.</p>
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="static/img/img1 (5).jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Prioritization</h2>
            <div class="card-text-wrapper">
              <p>Not all tasks are created equal. Some are more important than others. When you're creating your to-do list, take some time to prioritize your tasks. This will help you focus on the most important things first.</p>
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="static/img/img1 (6).jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Deadlines</h2>
            <div class="card-text-wrapper">
              <p>Deadlines can help you stay on track and avoid procrastination. When you assign deadlines to your tasks, you're more likely to get them done on time.</p>
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="static/img/img1 (7).jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Reminders</h2>
            <div class="card-text-wrapper">
              <p> If you have a lot of tasks on your to-do list, it can be easy to forget about some of them. Set reminders for yourself so that you don't forget about important deadlines.</p>
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="static/img/img1 (8).jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Flexibility</h2>
            <div class="card-text-wrapper">
              <p>Things don't always go according to plan. Be sure to build some flexibility into your to-do list. This will help you adjust your plans as needed.</p>
            </div>
          </div>
        </figcaption>
      </figure>

      <figure class="card card-with-hover">
        <img
          src="static/img/img1 (9).jpg"
          alt="img24"
        />
        <figcaption class="card-caption">
          <div class="card-caption-content">
            <h2>Break down large tasks</h2>
            <div class="card-text-wrapper">
              <p>f you have a large task that seems daunting, break it down into smaller, more manageable tasks. This will make it seem less overwhelming and more achievable.</p>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
  </body>
</html>
